@{
    ViewData["Title"] = "Trang chủ";
}

@model WebLinhKienPc.ViewModels.HomeViewModel
@model List<Product>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="/js/site.js"></script>

<div class="container mt-4">

    <div class="hot-section p-3 rounded-3">

        <!-- HEADER -->
        <div class="hot-header d-flex justify-content-between align-items-center mb-3">
            <h5 class="mb-0">🔥 Sản phẩm hot</h5>
            <a href="#" class="view-all">Xem tất cả</a>
        </div>

        <!-- PRODUCT LIST -->
        <div class="product-list">
            @foreach (var product in Model)
            {
                <partial name="_ProductCard" model="product" />
            }
        </div>

    </div>

</div>