@model IEnumerable<WebLinhKienPc.Models.Category>

<h2>Danh mục sản phẩm</h2>

<a asp-controller="AdminCategory" asp-action="CreateCategory" class="btn btn-primary">Thêm danh mục</a>

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Tên</th>
			<th>Mô tả</th>
			<th>Thao tác</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.CategoryId</td>
				<td>@item.Name</td>
				<td>@item.Description</td>
				<td>
					<a asp-controller="AdminCategory" asp-action="EditCategory" asp-route-id="@item.CategoryId">Sửa</a> |
				</td>
			</tr>
		}
	</tbody>
</table>